body{
    background-image: url("./pink.jpeg");
}
.happy{
    text-align: center;
}
span{
    color:white;
}
.days{
    color:yellow
}
/* styling for the table */

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  table{
      background-color: pink;
  }